<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello" verbose="1" >
    <test name="SmokyTest" >
        <classes>
            <class name="com.mzapolski.trello.tests.LoginTest" />
            <class name="com.mzapolski.trello.tests.BoardCreationTests" />

        </classes>
    </test>
</suite>
